.clear_float:before,.clear_float:after{
	content:" ";display:table
}
.clear_float:after{
	clear:both
}
span.sr-only{
	display:none
}
.pagination{
	display:inline-block;
	padding-left:0;
	margin:20px 0;
	border-radius:0px;	
}
.pagination>li{
	display:inline;
}
.pagination>li>a,.pagination>li>span{
	font-family: Copperplate Gothic Light,Copperplate Gothic,Copperplate,Georgia,serif;
	font-size: 15px;
	position:relative;
	float:left;
	padding: 1px 5px 3px 5px;
	text-decoration:none;
	color:#fff;
	border: 1px transparent;
        border-radius: 4px;
	margin-left:5px;
	margin-top : 18px;
	height : 22px;
	background-color: transparent;
}
.pagination>li:first-child>a,.pagination>li:first-child>span,
.pagination>li:last-child>a,.pagination>li:last-child>span{
	margin:0;
	padding:6px 12px;
	min-height : 57px;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}

.pagination>li>a:hover,.pagination>li>span:hover,
.pagination>li>a:focus,.pagination>li>span:focus,
.pagination > .active > span:hover,.pagination > .active > a:hover{
	background-color : transparent;
	font-weight : bold;
	color : #cb0f5b;
}

.pagination>.active>a,.pagination>.active>span{
	background-color :  #cb0f5b;
}
.pagination>li:first-child>a:hover,.pagination>li:first-child>span:hover, 
.pagination>li:last-child>a:hover,.pagination>li:last-child>span:hover,
.pagination>li:first-child>a:focus,.pagination>li:first-child>span:focus, 
.pagination>li:last-child>a:focus,.pagination>li:last-child>span:focus
{
	
	border : none;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #fff;
  cursor: not-allowed;
  background-color: transparent;
  border-color: none;
}