@charset "UTF-8";html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
b, strong{font-weight:700;font-style:inherit}
cite, dfn, em, i, q, var{font-style:italic;font-weight:inherit}
code, kbd, pre, samp{font-family:monospace}
abbr[title], dfn[title]{cursor:help;border-bottom:1px dotted}
ins{border-bottom:1px solid}
ins, u{text-decoration:none}
dl , dt, dd{}
img{border:none}
table{border-collapse:collapse;border-spacing:0;}
td,
th{padding:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
form{margin-bottom:20px;}
fieldset{margin-bottom:20px;}
.button-blue,
button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0;}
.button-blue,
button{overflow:visible;}
button,
select{text-transform:none;}
.button-blue,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{cursor:pointer;background:transparent;border:none;border-radius:2px;outline:none;padding:0;margin:0;}
button[disabled],
html input[disabled]{cursor:default;}
.button-blue::-moz-foucs-inner,
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
input, select{line-height:normal;vertical-align:middle;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;}
textarea{overflow:hidden;}
table{border-collapse:collapse;border-spacing:0;}
td,
th{padding:0;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after{content:"";}
pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,
img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,
h2,
h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
}