@font-face{font-family:'edelsans';src:url('../fonts/edelsans_regular-webfont.eot');src:url('../fonts/edelsans_regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/edelsans_regular-webfont.woff') format('woff'),
url('../fonts/edelsans_regular-webfont.ttf') format('truetype'),
url('../fonts/edelsans_regular-webfont.svg#edelsansregular') format('svg');font-weight:100;font-style:normal;}
html{font-size:10px;min-height:100%;position:relative;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased !important;}
body{font-family:edelsans, Helvetica, Arial, sans-serif;font-size:18px;line-height:1.6;color:#fff;background-color:#333;}
.clear{clear:both;height:0;overflow:hidden;visibility:hidden;width:0;}
a:focus{outline:none;}
.color-white{color:#fff;}
.mar-0{margin:0px;}
.mar-l-20{margin-left:20px;}
.mar-t0{margin-top:0px;}
.mar-t-20{margin-top:20px;}
.mar-t-10{margin-top:10px;}
.mar-t-200{margin-top:200px;}
.mat-b-20{margin-bottom:20px;}
.mar-b-20{margin-bottom:20px;}
.pad-0{padding:0;}
.show{display:block;}
.inline{display:inline-block;}
.hidden, .hide{display:none;}
.pull-left{float:left;}
.pull-right{float:right;}
.pull-none{float:none;}
.invisible{visibility:hidden;}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.affix{position:fixed;}
.ff-arial{font-family:Arial, Helvetica, sans-serif;}
h1, .h1{font-size:46px;}
.navbar-inverse{background:url(../images/navbar2_bg.png) top left repeat-x;background-color:transparent;border:0;}
.navbar-inverse .navbar-nav > li > a{color:#fff;font-size:16px;text-transform:uppercase;}
.navbar-brand > img{padding-top:5px;}
.navbar-brand{display:block;padding:0px;}
.navbar-brand:hover{background:none;text-decoration:none;}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{background:none;background-color:transparent;color:#fff;}
.navbar-nav > li > a{padding-bottom:0;padding-top:0;}
.navbar-nav > li > a{line-height:67px;}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > .active,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.wwd-block-4 p a:hover, .wwd-block-5 p a:hover{background-color:transparent;color:#cb0f5b;}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus{background:transparent;}
.nav-letstalk-zi, .navbar-toggle{z-index:9999;}
.nav-letstalk-zi{padding:0 !important;}
.navbar-header .navbar-nav{margin:0;}
.navbar-inverse .navbar-letstalk > li > a{font-weight:bold;}
.navbar-inverse .navbar-letstalk > li > a:hover,
.navbar-inverse .navbar-letstalk > li > a:focus,
.navbar-inverse .navbar-letstalk > .active > a:focus,
.navbar-inverse .navbar-letstalk > .open > a,
.navbar-inverse .navbar-letstalk > .open > a:focus{background:transparent;color:#cb0f5b;}
.navbar{min-height:85px;}
.navbar-inverse{background:transparent url("../images/navbar2_bg.png") repeat scroll left top/100% 100%;}
.nav .dropdown-menu{background-image:url(../images/bg_letstalk-popup.png);background-repeat:no-repeat;background-clip:padding-box;background-color:transparent;border:0px;border-radius:0;box-shadow:none;height:290px;margin-top:-10px !important;padding:60px 10px 0;left:-100px;width:325px;z-index:0;}
.nav .dropdown-menu > li{color:#333;padding:5px 20px;}
.dropdown-menu > li > a{padding:0;font-size:15px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:transparent;color:#262626;text-decoration:none;}
.btn-note{background:url("../images/btn-note.png") no-repeat top left;height:47px;display:inline-block;width:195px;}
.btn-noteus:hover .btn-note,
.btn-note:hover{background:url("../images/btn-note.png") no-repeat bottom left;}
.btn-noteus img{margin-top:7px;}
.btn-default-sm, a.btn-default-sm{background:url("../images/btn-default-sm.png") no-repeat top left;color:#fff;font-size:21px;height:50px;line-height:50px;padding:0 20px 0 0;text-align:center;width:208px;}
.btn-default-sm:hover, a.btn-default-sm:hover{background:url("../images/btn-default-sm.png") no-repeat bottom left;color:#fff;}
.btn-default-sm:active, .btn-default-sm:focus,
a.btn-default-sm:active, a.btn-default-sm:focus{color:#fff;}
.btn-default-md, a.btn-default-md{background:url("../images/btn-default-md.png") no-repeat top left;color:#fff;font-size:21px;height:50px;line-height:50px;padding:0 20px 0 0;text-align:center;width:288px;}
.btn-default-md:hover, a.btn-default-md:hover{background:url("../images/btn-default-md.png") no-repeat bottom left;color:#fff;}
.btn-default-md:active, .btn-default-md:focus,
a.btn-default-md:active, a.btn-default-md:focus{color:#fff;}
form .btn-subsc{color:#ddd;font-size:18px;}
form .text-field-subsc{background:url("../images/double.png") no-repeat;background-size:100% 100%;border:none;color:#ddd;height:50px;outline:none;padding:0 0 0 15px;width:265px;}
form .text-search2, .search-result .text-search{background:url("../images/input-search.png") no-repeat;background-size:100% 100%;width:100%;}
form .btn-search2{right:23px;}
.home-banner h2{font-size:28px;}
.home-banner, .about-section, .videos-section, .testimonial-section, .letstalk-section, .footer{background:url("../images/hampstead_kitchen_01.jpg") no-repeat scroll 50% 50%/cover;padding:100px 0 0;position:relative;}
.home-banner h1{text-shadow:black 0.1em 0.1em 0.2em;}
.home-banner h2{text-shadow:black 0.1em 0.1em 0.2em;}
.subscription_form_subpage input[type="text"]{
	border:0;
	padding:10px;
	color:#FFF;
	width:265px;}
.blog-page.subscription-pg .scrib-pomegranate-3{
	top: 270px;
  left: 293px;
  display: block;
  transform: rotate(-14deg);
  -wekit-transform: rotate(-14deg);
}



.scrib-split-pomegrante{display: none;}
#subpage-cm{display:none;}
.subscribe_now, #emailaddress, #memailaddress, #femailaddress {-webkit-transform: translateZ(0px);}
@media (min-width:1920px){
	.home-banner, .about-section, .videos-section, .testimonial-section, .letstalk-section, .footer, .blog-page, .whoweare-page, .blogdetail-page{background-size:100% auto !important;}

}

.home-banner .container, .about-section .container, .videos-section .container, .testimonial-section .container, .letstalk-section .container, .footer .container{display:table;height:65vh;min-height:350px;}
.home-banner{height:300px;position:absolute;top:0px;width:100%;z-index:100;}
.about-section, .videos-section, .testimonial-section, .letstalk-section, .footer{background:url("../images/bg_blockboard.jpg") no-repeat scroll 50% 50%/cover;padding:70px 0 110px;}
.about-section .container, .videos-section .container, .testimonial-section .container, .letstalk-section .container, .footer .container{height:45vh;}
.about-section .text-h4, .videos-section .text-h4{line-height:1.6;margin:50px 0px;}
.videos-section{background:url("../images/bg_darkwood.jpg") no-repeat scroll 50% 50%/cover;}
.videos-section .video-cantainer{background:url("../images/video.png") no-repeat scroll center center/cover;height:540px;margin:50px auto;padding:8.2% 5% 8% 4%;width:660px;}
.videos-section .video-cantainer{background:url("../images/video.png") no-repeat scroll center center/cover;height:540px;margin:50px auto;padding:0;position:relative;width:660px;}
.videos-section .video-frame{height:320px;left:-20px;margin:0 auto;overflow:hidden;position:relative;top:105px;width:80%;}
.testimonial-section{background:url("../images/bg_home-testimonial.jpg") no-repeat scroll 50% 50%/cover rgba(0, 0, 0, 0);}
.carousel{margin:60px 0;}
.carousel-caption{bottom:0;color:#fff;left:0;padding-bottom:0;padding-top:5px;position:relative;right:0;text-align:left;text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);z-index:10;}
.testim-img-container{position:relative;}
#carousel-testimonial .testim-text{min-height:285px;}
blockquote{border-left:0 none;font-size:18px;margin:0 0 0 -60px;padding:0 0 0 70px;text-align:left;background-image:url(../images/quote-left.png);background-repeat:no-repeat;background-position:left top;}
blockquote:before{}
blockquote p{padding-right:70px;}
blockquote footer::before{content:" ";}
blockquote .bq-inner{background-image:url(../images/quote-right.png);background-repeat:no-repeat;background-position:right bottom;}
blockquote footer{color:#fff;display:block;font-size:18px;line-height:1.6;}
.testim-img{float:left;height:250px;margin:0px 5px 0 7px;position:relative;width:196px;z-index:1;}
.testim-img-only, .category-listing .testim-img-only{height:160px;position:absolute;width:154px;z-index:0;left:-85px !important;margin-left:50%;}
.testim-img-container footer{position:relative;}
.testim-img-container footer p{display:block;font-size:24px;}
.testim-item1 .testim-img{background:url("../images/testim_f1.png") no-repeat;}
.testim-item2 .testim-img{background:url("../images/testim_f2.png") no-repeat;}
.testim-item3 .testim-img, .testim-item7 .testim-img{background:url("../images/testim_f3.png") no-repeat;}
.testim-item4 .testim-img, .testim-item8 .testim-img{background:url("../images/testim_f4.png") no-repeat;}
.testim-item5 .testim-img{background:url("../images/testim_f5.png") no-repeat;}
.testim-item6 .testim-img{background:url("../images/testim_f6.png") no-repeat;}
.testim-item1 .testim-img-only{top:14px;transform:rotate(5deg) !important;-moz-transform:rotate(5deg) !important;-ms-transform:rotate(5deg) !important;-o-transform:rotate(5deg) !important;-webkit-transform:rotate(5deg) !important;}
.testim-item1 footer{left:3px;transform:rotate(4deg) !important;-moz-transform:rotate(4deg) !important;-ms-transform:rotate(4deg) !important;-o-transform:rotate(4deg) !important;-webkit-transform:rotate(4deg) !important;}
.testim-item2 .testim-img-only{top:10px;transform:rotate(-7deg) !important;-moz-transform:rotate(-7deg) !important;-ms-transform:rotate(-7deg) !important;-o-transform:rotate(-7deg) !important;-webkit-transform:rotate(-7deg) !important;}
.testim-item3 .testim-img-only, .testim-item7 .testim-img-only{left:20px;top:5px;transform:rotate(-3deg) !important;-moz-transform:rotate(-3deg) !important;-ms-transform:rotate(-3deg) !important;-o-transform:rotate(-3deg) !important;-webkit-transform:rotate(-3deg) !important;}
.testim-item4 .testim-img-only{top:72px;}
.testim-item5 .testim-img-only{left:-71px !important;top:13px;transform:rotate(8deg) !important;-moz-transform:rotate(8deg) !important;-ms-transform:rotate(8deg) !important;-o-transform:rotate(8deg) !important;-webkit-transform:rotate(8deg) !important;}
.category-listing .testim-item5 .testim-img-only {   left: -70px !important;}
.testim-item6 .testim-img-only{top:10px;transform:rotate(-6deg) !important;-moz-transform:rotate(-6deg) !important;-ms-transform:rotate(-6deg) !important;-o-transform:rotate(-6deg) !important;-webkit-transform:rotate(-6deg) !important;}
.testim-item8 .testim-img-only{top:80px;}
#carousel-testimonial .item:nth-child(3n+1) .testim-item .testim-img{background:url("../images/testim_f1.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+2) .testim-item .testim-img{background:url("../images/testim_f2.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+3) .testim-item .testim-img{background:url("../images/testim_f3.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+4) .testim-item .testim-img{background:url("../images/testim_f4.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+5) .testim-item .testim-img{background:url("../images/testim_f5.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+6) .testim-item .testim-img{background:url("../images/testim_f6.png") no-repeat;}
#carousel-testimonial .item:nth-child(3n+1) .testim-item .testim-img-only{top:14px;transform:rotate(5deg) !important;-moz-transform:rotate(5deg) !important;-ms-transform:rotate(5deg) !important;-o-transform:rotate(5deg) !important;-webkit-transform:rotate(5deg) !important;}
#carousel-testimonial .item:nth-child(3n+2) .testim-item .testim-img-only{top:10px;transform:rotate(-7deg) !important;-moz-transform:rotate(-7deg) !important;-ms-transform:rotate(-7deg) !important;-o-transform:rotate(-7deg) !important;-webkit-transform:rotate(-7deg) !important;}
#carousel-testimonial .item:nth-child(3n+3) .testim-item .testim-img-only{left:20px;top:5px;transform:rotate(-3deg) !important;-moz-transform:rotate(-3deg) !important;-ms-transform:rotate(-3deg) !important;-o-transform:rotate(-3deg) !important;-webkit-transform:rotate(-3deg) !important;}
.#carousel-testimonial .item:nth-child(3n+4) .testim-item .testim-img-only{top:72px;}
#carousel-testimonial .item:nth-child(3n+4) .testim-item{left:-15px;transform:rotate(0deg) !important;-moz-transform:rotate(0deg) !important;-ms-transform:rotate(0deg) !important;-o-transform:rotate(0deg) !important;-webkit-transform:rotate(0deg) !important;}
#carousel-testimonial .item:nth-child(3n+5) .testim-item .testim-img-only{left:-71px !important;top:11px;transform:rotate(8deg) !important;-moz-transform:rotate(8deg) !important;-ms-transform:rotate(8deg) !important;-o-transform:rotate(8deg) !important;-webkit-transform:rotate(8deg) !important;}
#carousel-testimonial .item:nth-child(3n+6) .testim-item .testim-img-only{top:10px;transform:rotate(-6deg) !important;-moz-transform:rotate(-6deg) !important;-ms-transform:rotate(-6deg) !important;-o-transform:rotate(-6deg) !important;-webkit-transform:rotate(-6deg) !important;}
#carousel-testimonial .item:nth-child(3n+7) .testim-item .testim-img-only{top:9px;transform:rotate(2deg) !important;-moz-transform:rotate(2deg) !important;-ms-transform:rotate(2deg) !important;-o-transform:rotate(2deg) !important;-webkit-transform:rotate(2deg) !important;}
.letstalk-section{background:url("../images/bg_letstalk.jpg") no-repeat scroll 50% 50%/cover rgba(0, 0, 0, 0);}
.wboard{background-size:957px 647px;}
.letsTalk-info .h3{padding-right:30px;}
form.miniSurveyView input, textarea, button{background:100% auto;border:none;outline:none;margin-bottom:10px;}
form.miniSurveyView, form.miniSurveyView input, form.miniSurveyView textarea, form.miniSurveyView .submit{font-family:"main-font";color:#FFF;font-size:18px;line-height:20px;}
form.miniSurveyView input, form.miniSurveyView textarea{border:medium none;font-family:edelsans,Helvetica,Arial,sans-serif;text-align:left;padding:0px 0px 0px 9px;margin:0 0 5px 0;width:100%;height:44px;}
form.miniSurveyView .col-md-6,
form.miniSurveyView .col-sm-12,
form.miniSurveyView .col-xs-12{padding:0 !important;}
form.miniSurveyView .input1{background:url("../images/single1.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input2{background:url("../images/single2.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input3{background:url("../images/single3.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input4{background:url("../images/single4.png") no-repeat scroll 0 0/100% 100%;}
form.miniSurveyView .input5{background:url("../images/double.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView textarea{width:100%;height:90px;padding-top:12px;background:url("../images/textarea.png") no-repeat 0 0/100% 100%;resize:none;}
form.miniSurveyView .submit{background:url("../images/submit.png") no-repeat 0px 0px transparent;font-size:20px;font-family:edelsans,Helvetica,Arial,sans-serif;color:#45240A;width:156px;height:42px;text-align:center;border:medium none;padding:5px 13px 5px 11px;margin:0;cursor:pointer;}
form.miniSurveyView .close-form, .success_Message .close-form{float:right;font-family:edelsans,Helvetica,Arial,sans-serif;margin:3px 25px 0px 0px;padding:4px 31px 0px 30px;font-size:20px;line-height:22px;background:url("../images/x.png") no-repeat scroll 100% 0px transparent;height:29px;cursor:pointer;}
form.miniSurveyView .input1.lt-error{background:url("../images/single1_red.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input2.lt-error{background:url("../images/single2_red.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input3.lt-error{background:url("../images/single3_red.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input4.lt-error{background:url("../images/single4_red.png") no-repeat scroll 0 0/100% 100%;}
form.miniSurveyView .input5.lt-error{background:url("../images/single5_red.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView .input6.lt-error{background:url("../images/single5_red.png") no-repeat 0 0/100% 100%;}
form.miniSurveyView input.lt-error ,form.miniSurveyView textarea.lt-error{color:#ffcccb;}
input:-webkit-input-placeholder{color:#fff!important;}
input:-moz-placeholder{color:#fff!important;}
input:-moz-placeholder{color:#fff!important;}
input:-ms-input-placeholder{color:#fff!important;}
.footer{background:url("../images/bg_footer.jpg") no-repeat scroll 50% 50%/cover rgba(0, 0, 0, 0);color:#ddd;padding:30px 0 50px;}
.footer .container{height:25vh;min-height:250px;}
.footer a{background:transparent;clear:both;color:#ddd;display:inline-block;margin-bottom:6px;text-decoration:none;}
.footer a:hover , .letstalk-section .wboard-cantainer h4 > a:hover, .wwd-block-4 p a:hover, .wwd-block-5 p a:hover, .blogpost_cat:hover, .category-listing h3 a:hover {color:#fff;background:url(../images/underline_hover.gif) repeat-x left bottom;text-decoration:none;}
.wwd-block-4 p a:focus, .wwd-block-5 p a:focus{background:url(../images/underline.png) repeat-x left bottom;color:#cb0f5b; text-decoration:none;}
.footer .subscribe_form a{background:none;display:block;color:black;margin-bottom:0;line-height:0!important;}
.footer .subscribe_form a:hover{background:none;text-decoration:none;}
.footer h3{margin-bottom:20px;margin-top:30px;}
.mobile-show-nav{display:none;}
.mobile-hide{display:block;}
.ipad-hide{display:block;}
.social-sticky{bottom:0;height:40px;position:fixed;width:100%;z-index:100;}
.food-container{height:40px;width:100%;z-index:100;}
.absec-divider, .vdsec-divider, .ltsec-divider, .instaFeed-divider{background:url(../images/elemt_pomegranate2.png) no-repeat center center;bottom:-60px;height:130px;left:-150px;margin-left:50%;position:absolute;width:300px;z-index:298;}
.vdsec-divider{background:url(../images/seprator_leafs.png) no-repeat center center;}
.ltsec-divider{background:url(../images/seprator_rose.png) no-repeat center center;}
.carousel-control{width:5%;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{height:75px;width:40px;}
.glyphicon-chevron-left{background:url(../images/slide_prev.png) no-repeat center;background-size:100%;display:block;}
.glyphicon-chevron-left::before{content:" ";}
.glyphicon-chevron-right{background:url(../images/slide_next.png) no-repeat center;background-size:100%;display:block;}
.glyphicon-chevron-right::before{content:" ";}
#carousel-blogposts .col-md-7{padding-left:15px;padding-right:15px;}
.blog-page, .whoweare-page, .whatwedo-page, .ourfood-page, .ourfooddetail-page, #ourfood-carousel .food-container, .blogdetail-page{background:url("../images/bg_blockboard.jpg") repeat scroll 50% 0/100% auto;padding:100px 0 0;position:relative;}
.ourfooddetail-page, #ourfood-carousel .food-container{padding:0;}
.post-cat-title img, .blog-mpContainer img{border:3px solid #e8cc9c;height:75px;margin:0 15px 0 0;transform:rotate(-4deg);-moz-transform:rotate(-4deg);-ms-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);width:75px;}
.post-detail{background:url(../images/bpost-body_bg.png) repeat-y top center;background-size:100% auto;color:#333;font-size:16px;margin:80px 0;min-height:330px;padding:0 50px;position:relative;z-index:10;}
.post-detail:before{background:url(../images/bpost-head_bg.png) no-repeat;background-size:100% 100%;content:" ";display:block;height:80px;left:0;position:absolute;top:-78px;width:100%;}
.post-detail:after{background:url(../images/bpost-footer_bg.png) no-repeat;background-size:100% 100%;bottom:-79px;content:" ";display:block;height:80px;left:0;position:absolute;width:100%;}
.post-detail h2{line-height:1.6;margin-bottom:0;}
.post-detail date{color:#999;display:block;margin-bottom:15px;}
.post-detail p{margin:0 0 20px 0;}
.post-detail p a{background:url(../images/underline_black.png) repeat-x left bottom;color:#333;text-decoration:none;}
.post-detail p a:hover, .post-detail p a:focus{background:url(../images/underline_black_hover.gif) repeat-x left bottom;color:#333;text-decoration:none;}
.post-detail .img-left, .post-detail .img-right{border:2px solid #fff;float:left;width:280px;margin:6px 35px 15px 0;}
.post-detail .img-right{float:right;margin:6px 0 15px 35px;}
.bg-none, .blog-page .footer, .whoweare-page .footer, .whatwedo-page .footer, .ourClients-page .footer, .ourfood-page .footer, .ourfooddetail-page .footer, .blogdetail-page .footer, .home-banner{background:none;}
.post-social span{display:block;height:45px;line-height:45px;margin:0 10px 0 0;}
.blog-right-col, .blog-subscibe, .blog-cat-list, .blog-morePosts{z-index:10;}
.ft-icons, .icon-fb{background:url(../images/social_sprite.png) no-repeat;display:block;float:left;height:36px;margin-right:10px;width:36px;}
.icon-fb{background-position:-59px -6px;}
.fl-fb:hover .icon-fb, .icon-fb:hover{background-position:-108px -6px;}
.icon-tw{background-position:-59px -48px;}
.fl-tw:hover .icon-tw, .icon-tw:hover{background-position:-108px -48px;}
.icon-gp{background-position:-58px -91px;}
.fl-gp:hover .icon-gp, .icon-gp:hover{background-position:-108px -91px;}
.icon-in{background-position:-58px -132px;}
.fl-in:hover .icon-in, .icon-in:hover{background-position:-108px -132px;}
p.post-social a:hover, .post-detail .post-social a:focus{background:url(../images/post-social_sprite.png) no-repeat left top;}
p.post-social a{background:url(../images/post-social_sprite.png) no-repeat left top;height:45px;display:block;margin:0;width:45px;}
p.post-social a.icon-fb{background-position:-1px 0;}
p.post-social a.icon-fb:hover{background-position:-1px -45px;}
p.post-social a.icon-tw{background-position:-49px 0;}
p.post-social a.icon-tw:hover{background-position:-49px -45px;}
p.post-social a.icon-gp{background-position:-95px 0;}
p.post-social a.icon-gp:hover{background-position:-95px -45px;}
.post-a-comment .caret{border-bottom:10px dashed;border-left:8px solid transparent;border-right:8px solid transparent;border-top:0px solid transparent;position:relative;top:-2px;}
.post-a-comment .arrow-position .caret{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}
.post-a-comment .collapsed.arrow-position .caret{transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.post-a-comment .btn-postComment{background:url("../images/postComment-btn.png") no-repeat top left;display:block;height:50px;padding-right:21px;width:245px;margin:0px !important;}
.post-a-comment .btn-postComment:hover{background:url("../images/postComment-btn.png") no-repeat bottom left;}
.post-a-comment a{color:#333;text-decoration:none;}
.divider-15{clear:both;height:15px;}
.divider-25{clear:both;height:25px;}
.divider-30{clear:both;height:30px;}
.divider-50{clear:both;height:50px;}
.post-a-comment .input-field{background:url("../images/postComment-text.png") no-repeat;background-size:100% 100%;border:none;height:50px;outline:none;padding:0 0 0 15px;}
.post-a-comment .textarea-field{background:url("../images/postComment-textarea.png") no-repeat;background-size:100% 100%;border:none;height:150px !important;outline:none;padding:15px;font-size:14px !important;}
.blog-cat-list{background-size:100% 100%;color:#fff;min-height:200px;padding:20px;}
.blog-cat-list ul li{padding:0 0 1px 30px;}
.blog-cat-list ul li:nth-child(5n+1){background:url("../images/li1_x2.png") no-repeat 0 4px/23px 23px;}
.blog-cat-list ul li:nth-child(5n+2){background:url("../images/li2_x2.png") no-repeat 0 4px/23px 23px;}
.blog-cat-list ul li:nth-child(5n+3){background:url("../images/li3_x2.png") no-repeat 0 4px/23px 23px;}
.blog-cat-list ul li:nth-child(5n+4){background:url("../images/li4_x2.png") no-repeat 0 4px/23px 23px;}
.blog-cat-list ul li:nth-child(5n+5){background:url("../images/li5_x2.png") no-repeat 0 4px/23px 23px;}
.blog-cat-list a, .blog-mpContainer a{color:#333;font-size:18px;}
.blog-cat-list a{color:#fff;}
.blog-cat-list a:hover, .blog-mpContainer a:hover{background:url("../images/underline_black_hover.gif") repeat-x scroll left bottom;text-decoration:none;}
.blog-cat-list a:hover{background:url(../images/underline_hover.gif) repeat-x scroll left bottom;}
.blog-mpContainer{background:url(../images/opost-body_bg.png) repeat-y top center;background-size:100% auto;color:#333;font-size:16px;margin:88px 0;min-height:171px;padding:0 35px;position:relative;}
.blog-mpContainer:before{background:url(../images/opost-head_bg.png) no-repeat;background-size:100% 100%;content:" ";display:block;height:88px;left:0;position:absolute;top:-88px;width:100%;}
.blog-mpContainer:after{background:url(../images/opost-footer_bg.png) no-repeat center bottom;background-size:100% auto;bottom:-35px;content:" ";display:block;height:35px;left:0;position:absolute;width:100%;}
.blog-mpContainer img{transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);float:left;}
.blog-mpContainer li{background:url(../images/underline_black.png) repeat-x bottom center;clear:both;margin-bottom:18px;overflow:hidden;padding-bottom:22px;}
.blog-mpContainer li:last-child{background:none;margin-bottom:0px;}
.blog-mpContainer a{line-height:1.2;}
.blog-page-top form .text-field-subsc{height:41px;margin-top:10px;border:none;}
.blog-page-top form .btn-search{position:absolute;right:0;top:13px;}
.blog-page-top form .btn-search:hover{color:#eee;}
.blog-page-top h3{line-height:1.4;}
.blog-row .blog-post{font-size:16px;min-height:560px;position:relative;margin:0 auto;width:300px;z-index:2;}
.blog-row .blog-post img{display:block;margin:5px;z-index:2;}
.post-img-container, .post-img-container img{position:relative;}
.post-img-frame{background:url("../images/blog-img-frame.png") no-repeat 0 0/100% 100%;height:266px;width:215px;z-index:3;}
.post-img-container{height:270px;margin:0 auto 30px;padding:5px;width:220px;}
.blog-row .blog-post h2 a{color:#fff;display:inline-block;text-align:center;text-decoration:none;}
.blog-row .blog-post h2 a:hover, .search-hdng-col a:hover{background:url(../images/underline_hover.gif) repeat-x left bottom;color:#fff;text-decoration:none;}
.blog-row .blog-post p{text-align:left;margin:0 25px 0 25px;padding:0 5px 0 20px;}
.blog-row .post-1{background:url("../images/blog-post1_bg.png") no-repeat 0 0/100% 100%;padding:50px}
.blog-row .post-2{background:url("../images/blog-post2_bg.png") no-repeat 0 0/100% 100%;padding:48px 53px;}
.blog-row .post-3{background:url("../images/bg_yellow-sticky.png") no-repeat 0 0/100% 100%;height:330px;padding:35px 30px;}
.blog-row .post-4{background:url("../images/blog-post3_bg.png") no-repeat 0 0/100% 100%;padding:70px 36px 0;}
.blog-row .post-5{background:url("../images/blog-post4_bg.png") no-repeat 0 0/100% 100%;padding:70px 30px 0;}
.blog-row .post-6{background:url("../images/blog-post5_bg.png") no-repeat 0 0/100% 100%;height:260px;margin-left:-20px;padding:54px 30px;}
.blog-row .post-7{background:url("../images/blog-post6_bg.png") no-repeat 0 0/100% 100%;height:388px;padding:42px 55px;}
.blog-row .post-1 .post-content{transform:rotate(-2deg);-moz-transform:rotate(-2deg);-ms-transform:rotate(-2deg);-o-transform:rotate(-2deg);-webkit-transform:rotate(-2deg);}
.blog-row .post-2 .post-content{transform:rotate(3deg);-moz-transform:rotate(3deg);-ms-transform:rotate(3deg);-o-transform:rotate(3deg);-webkit-transform:rotate(3deg);}
.blog-row .post-3 .black ul li{line-height:25px;}
.position-abs, .bp-link{position:absolute;}
.blog-row .blog-post .bp-link{background:rgba(0, 0, 0, .7);bottom:30px;display:none;left:-150px;margin-left:50%;padding:15px 0;width:300px;}
.blog-row .blog-post .bp-link a{color:#fff;}
.blog-row .blog-post:hover .bp-link{display:none;}
.blog-row .post-1 .bp-link, .blog-row .post-2 .bp-link{bottom:-20px;}
.blog-row .post-5 .bp-link{bottom:50px;}
#carousel-blogposts .hdng-col{margin-bottom:20px;margin-left:11.667%;}
#carousel-blogposts .hdng-col span{color:#999;}
.blog-video-contianer{height:338px;position:relative;margin:0 auto;width:661px;z-index:1;}
.blog-video-contianer .blog-video-frame{background:url("../images/blog-video_bg.png") no-repeat 0 0/661px 338px;height:338px;position:relative;width:661px;z-index:2;}
.blog-video-contianer iframe{border:2px solid #fff;height:76%;left:85px;top:42px;width:70%;z-index:3;}
.whoweare-page h1, .whatwedo-page h1{margin-bottom:40px;}
.ourfood-page h1{margin-bottom:30px;}
.fly{position:absolute;}
.frame{position:relative;z-index:3;}
.text-block, .picture-block{margin-bottom:50px;}
.whoweare-page blockquote, .whatwedo-page blockquote{background-size:55px auto;font-size:24px;margin:20px 0 40px 10%;padding:0 0 0 60px;width:370px;}
.whoweare-page blockquote p, .whatwedo-page blockquote p{background-size:55px auto;padding-right:50px;}
.whoweare-page .wwa-block-2 blockquote{width:320px;}
.whoweare-page .video-cantainer{background:url("../images/video.png") no-repeat scroll center center/100% 100%;height:510px;margin:0;padding:0;width:100%;}
.whoweare-page .video-frame{height:295px;left:45px;overflow:hidden;position:relative;top:105px;width:80%;}
.wwa-block-5 .block-pic-1{margin:110px 0;}
.wwa-block-5 .block-pic-2{margin:90px 0 0 0;}
.wwa-block-6 .picture-block{margin-top:70px;}
.wwa-block-7 .block-community-text{margin-right:30px}
.block-end-msg{margin:50px 0 20px 0;}
.block-end-msg .btn-default-md{margin:20px 0 80px;}
.whoweare-page .picture-block .img-responsive, .whatwedo-page .picture-block .img-responsive{display:inline-block;position:relative;z-index:5;}
.whoweare-page .vdsec-divider{top:490px;margin-left:0px;left:23%;transform:rotate(-360deg) !important;-moz-transform:rotate(-360deg) !important;-ms-transform:rotate(-360deg) !important;-o-transform:rotate(-360deg) !important;-webkit-transform:rotate(-360deg) !important;}
.blog-page .vdsec-divider {-webkit-transform: rotate(-9deg) !important;left: 106px;bottom: -4px;width: 177px;height: 90px;}
.whatwedo-page .events{min-height:850px;position:relative;}
.subscription-pg .events{position:relative;}
.whatwedo-page .black,.subscription-pg .black{color:#222;}
.whatwedo-page .polaroid2{bottom:-115px;left:-60px;position:absolute;z-index:2;}
.whatwedo-page .events .text, .subscription-pg .events .text{background:url("../images/paper1.png") no-repeat scroll 0 0 transparent;padding:80px 55px 100px 30px;position:relative;transform:rotate(-5deg) !important;-moz-transform:rotate(-5deg) !important;-ms-transform:rotate(-5deg) !important;-o-transform:rotate(-5deg) !important;-webkit-transform:rotate(-5deg) !important;width:422px;z-index:2;}
.subscription-pg .events .text{min-height: 405px;max-height: 405px;width:366px;padding:80px 55px 20px 30px;background:url("../images/paper2.png") no-repeat scroll 0 0 transparent;}
.whatwedo-page .events p, .whatwedo-page .events, .whatwedo-page .cuisines
.subscription-pg .events p, .subscription-pg .events{font-size:96%;}
.whatwedo-page .events h2, .subscription-pg .events h2, .whatwedo-page .cuisines h2{font-size:36px;margin-bottom:5px;margin-top:0;}
.whatwedo-page .events p, .subscription-pg .events p, .whatwedo-page .cuisines p{margin-bottom:10px;}
.whatwedo-page .events ul li, .subscription-pg .events ul li, .whatwedo-page .styles-settings ul li, .whatwedo-page .cuisines ul li, .whatwedo-page .locations ul li, .black ul li{line-height:22px;margin-left:-1px;padding:0 0 8px 30px;}
.black ul li:nth-child(5n+1){background:url("../images/black-li1_x2.png") no-repeat 0 0/23px 23px;}
.black ul li:nth-child(5n+2){background:url("../images/black-li2_x2.png") no-repeat 0 0/23px 23px;}
.black ul li:nth-child(5n+3){background:url("../images/black-li3_x2.png") no-repeat 0 0/23px 23px;}
.black ul li:nth-child(5n+4){background:url("../images/black-li4_x2.png") no-repeat 0 0/23px 23px;}
.black ul li:nth-child(5n+5){background:url("../images/black-li5_x2.png") no-repeat 0 0/23px 23px;}
.styles-settings{margin:80px 0;}
.styles-settings ul li:nth-child(5n+1){background:url("../images/li1_x2.png") no-repeat 0 0/23px 23px;}
.styles-settings ul li:nth-child(5n+2){background:url("../images/li2_x2.png") no-repeat 0 0/23px 23px;}
.styles-settings ul li:nth-child(5n+3){background:url("../images/li3_x2.png") no-repeat 0 0/23px 23px;}
.styles-settings ul li:nth-child(5n+4){background:url("../images/li4_x2.png") no-repeat 0 0/23px 23px;}
.styles-settings ul li:nth-child(5n+5){background:url("../images/li5_x2.png") no-repeat 0 0/23px 23px;}
.whatwedo-page .wwd-block-2 blockquote{margin:60px auto 40px;width:330px;}
.whatwedo-page .cuisines{margin-left:0px;margin-top:0px;position:relative;z-index:1;}
.whatwedo-page .cuisines .text{background:url("../images/paper22.png") no-repeat scroll 0 0 transparent;transform:rotate(5deg) !important;-moz-transform:rotate(5deg) !important;-ms-transform:rotate(5deg) !important;-o-transform:rotate(5deg) !important;-webkit-transform:rotate(5deg) !important;width:495px;z-index:1;}
.wwd-block-2 blockquote.blockquote2{width:100%;margin:30px 0 90px 0;}
.wwd-block-3 .paint3{bottom:20px;left:-40px;}
.whatwedo-page blockquote.bq4{background-size:55px auto;margin:20px auto 40px;width:396px;}
.whatwedo-page .locations{margin-bottom:100px;margin-top:50px;}
.whatwedo-page .locations .text{background:url("../images/paper3.png") no-repeat scroll 0 0/100% 100% transparent;margin-left:25px;padding:30px 75px 60px 60px;transform:rotate(5deg) !important;-moz-transform:rotate(5deg) !important;-ms-transform:rotate(5deg) !important;-o-transform:rotate(5deg) !important;-webkit-transform:rotate(5deg) !important;width:504px;z-index:1;}
.whatwedo-page .locations ul li{padding:0 0 15px 30px;}
.wwd-block-5 .text-block{margin:110px 0 0;}
.ourClients-page{background:url("../images/bg_testimonial.jpg") repeat scroll 50% 0/100% auto;}
.ourClients-section{background:url("../images/testimonial-topshade.png") repeat-x top;padding:100px 0 0;}
.testim-tsec, .testim-item-row{margin-bottom:60px;}
.testim-tsec h1{margin-top:40px;}
.ourClients-section blockquote{margin:0;}
.ourClients-page blockquote p{background-image:none;padding-right:0px;margin-bottom:30px;}
.ourClients-page blockquote p:last-child{margin-bottom:0;}
.ourClients-page blockquote .bq-inner{background-image:url(../images/quote-right.png);background-repeat:no-repeat;background-position:right bottom;padding-right:70px;}
.ourClients-page .testim-item4 .testim-img-only, .blog-page .testim-item4 .testim-img-only{top:11px;}
.ourClients-page .scrib-olives{top:-25px;left:480px;}
.of-frame{height:410px;position:relative;margin:0 auto 60px;width:345px;z-index:2;}
.ourfood-page .food div:nth-child(3n+1) .of-frame{background:url("../images/food-f1.png") no-repeat scroll 0 0/100% 100%;}
.ourfood-page .food div:nth-child(3n+2) .of-frame{background:url("../images/food-f3.png") no-repeat scroll 0 0/100% 100%;}
.ourfood-page .food div:nth-child(3n+3) .of-frame{background:url("../images/food-f2.png") no-repeat scroll 0 0/100% 100%;}
.ourfood-page .food div:nth-child(3n+4) .of-frame{background:url("../images/food-f4.png") no-repeat scroll 0 0/100% 100%;}
.position-abs, .ourfood-page .food img, .ofood-img, .ourfood-page .food .h4, .ourfood-page .food .of-frame .of-link, .blog-video-contianer iframe{position:absolute;}
.ourfood-page .food .of-frame .of-link{background:rgba(0, 0, 0, .7);bottom:98px;display:none;margin-left:50%;padding:15px 0;width:250px;}
.ourfood-page .food .of-frame:hover .food_onhover_action{display:block;}
.ourfood-page .food .of-frame:hover .food_list_title{display:none;}
.ourfood-page .food .of-frame .food_onhover_action{display:none;}
.ourfood-page .food .h4{color:#222;font-size:24px;font-weight:400;text-align:center;width:100%;z-index:3;}
.ourfood-page .food img, .ofood-img{height:275px;left:-130px;margin-left:50%;top:40px;width:260px;z-index:1;}
.ourfood-page .food img.food-plate{height:220px;left:-215px;margin-left:50%;top:85px;width:430px;}
.ourfood-page .food div:nth-child(3n+1) img, .ourfood-page .food div:nth-child(3n+1) .of-frame .of-link{transform:rotate(-3deg);-moz-transform:rotate(-3deg);-ms-transform:rotate(-3deg);-o-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
.ourfood-page .food div:nth-child(3n+1) .h4{bottom:40px;left:0px;transform:rotate(-3deg);-moz-transform:rotate(-3deg);-ms-transform:rotate(-3deg);-o-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
.ourfood-page .food div:nth-child(3n+1) .of-frame .of-link{left:-119px;}
.ourfood-page .food div:nth-child(3n+2) img, .ourfood-page .food div:nth-child(3n+2) .of-frame .of-link{transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
.ourfood-page .food div:nth-child(3n+2) .h4{bottom:40px;left:-10px;transform:rotate(2deg);transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
.ourfood-page .food div:nth-child(3n+2) .of-frame .of-link{left:-133px;}
.ourfood-page .food div:nth-child(3n+3) img, .ourfood-page .food div:nth-child(3n+3) .of-frame .of-link{transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);}
.ourfood-page .food div:nth-child(3n+3) .h4{bottom:40px;left:12px;transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);}
.ourfood-page .food div:nth-child(3n+3) .of-frame .of-link{left:-120px;}
.ourfood-page .food div:nth-child(3n+4) img, .ourfood-page .food div:nth-child(3n+4) .of-frame .of-link{transform:rotate(1deg);-moz-transform:rotate(1deg);-ms-transform:rotate(1deg);-o-transform:rotate(1deg);-webkit-transform:rotate(1deg);}
.ourfood-page .food div:nth-child(3n+4) .h4{bottom:38px;left:-5px;transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
.ourfood-page .food div:nth-child(3n+4) .of-frame .of-link{left:-125px;}
#ourfood-carousel{margin:53px 0;}
#ourfood-carousel .carousel-indicators{bottom:0;display:inline-block;height:50px;left:0;list-style:outside none none;margin-bottom:0;margin-left:0;padding:5px 20px;position:relative;width:auto;}
#ourfood-carousel .carousel-indicators .active{background-color:transparent;background:url(../images/mark_on_x2.png) no-repeat scroll center center/100% auto;margin:0;}
#ourfood-carousel .carousel-indicators li{background-color:transparent;background:url(../images/mark1_x2.png) no-repeat scroll center center/100% auto;border:0 none;border-radius:10px;cursor:pointer;display:inline-block;height:20px;position:relative;top:7px;width:20px;}
#ourfood-carousel .carousel-inner > .item{height:670px;width:100%;}
#ourfood-carousel .dropdown-ourfood{color:#fff;cursor:pointer;}
#ourfood-carousel .dropdown-ourfood:hover{color:#fff;}
#ourfood-carousel .dropdown-ourfood .caret{background:url("../images/ourfood_more.png") no-repeat center center;border:0 none;height:20px;margin-left:3px;width:20px;}
#ourfood-carousel .dropdown-menu{background-image:url("../images/bg_ourfood-popup.png");height:320px;background-repeat:no-repeat;background-clip:padding-box;background-color:transparent;border:0px;border-radius:0;box-shadow:none;margin-left:-48px;padding:40px 10px 0 40px;width:311px;z-index:0;}
#ourfood-carousel .dropdown-menu > li{padding:5px 8px;}
#ourfood-carousel .dropdown-menu > li > a{font-size:16px;}
#ourfood-carousel .dropdown-menu > li > a:hover, #ourfood-carousel .dropdown-menu > li > a:focus{background-color:transparent;color:#cb0f5b;text-decoration:none;}
#ourfood-carousel .carousel-control .glyphicon-chevron-left, #ourfood-carousel .carousel-control .glyphicon-chevron-right, #ourfood-carousel .carousel-control .icon-prev, #ourfood-carousel .carousel-control .icon-next{top:41%;}
.instagram-feed{margin:80px 0 10px;}
.instafeed-item, .instafeed-item img{position:relative;}
.instafeed-item .instafeed-img-frame{background:url("../images/instagram-pic_frame.png") no-repeat scroll 0 0/100% 100%;height:100%;width:96%;z-index:2;}
.instafeed-item img{display:block;height:auto;left:-46%;margin-left:50%;max-width:100%;padding:5px;width:auto;z-index:1;}
#carousel-instagramfeed .carousel-control.left{left:-70px;}
#carousel-instagramfeed .carousel-control.right{left:auto;right:-50px;}
.whoweare-page, .whatwedo-page, .ourfood-page, .blog-page, .blogdetail-page{overflow-x:hidden;ovver-flow-y:auto;}
.whoweare-page .row, .whatwedo-page .row, .ourfood-page .row, .blog-page .element-row, .blogdetail-page .row{position:relative;}
.yellow-sticky{background:url(../images/yellow_x2.png) no-repeat scroll 0 0/185px 196px;height:196px;left:27%;top:308px;width:185px;z-index:6;}
.scrib-rose1{background:url(../images/elemt_rose_1.png) no-repeat scroll 0 0/144px 123px;height:123px;left:45%;top:-9px;width:144px;z-index:1;}
.scrib-rose2{background:url(../images/elemt_rose_2.png) no-repeat center;height:110px;left:67%;top:765px;width:100px;z-index:1;}
.scrib-rose3{background:url(../images/elemt_rose_3.png) no-repeat center;height:135px;right:5%;top:100px;width:130px;z-index:1;}
.scrib-parsley1{background:url(../images/elemt_parsley1.png) no-repeat;height:121px;left:11%;top:4px;width:121px;z-index:6;}
.scrib-parsley4{background:url(../images/elemt_parsley4.png) no-repeat;height:93px;left:1%;bottom:-20px;width:76px;z-index:6;}
.ourfood-page .scrib-parsley1{left:2%;top:314px;}
.videos-section .scrib-parsley1{left:7%;top:580px;}
.scrib-parsley3{background:url("../images/elemt_parsley3.png") no-repeat 0 0/100% auto;height:312px;left:67%;top:200px;width:250px;z-index:6;transform:rotate(-10deg) !important;-moz-transform:rotate(-10deg) !important;-ms-transform:rotate(-10deg) !important;-o-transform:rotate(-10deg) !important;-webkit-transform:rotate(-10deg) !important;}
.scrib-pistasho{background:url(../images/elemt_pistasho.png) no-repeat center;bottom:32px;height:95px;right:11%;width:120px;z-index:6;}
.scrib-pomegranate-wa{background:url(../images/elemt_pomegranate.png) no-repeat;height:142px;right:90px;bottom:0;width:133px;z-index:1;}
.scrib-pomegranate-wd{background:url(../images/elemt_pomegranate2.png) no-repeat;bottom:-80px;height:120px;left:160px;width:150px;z-index:1;}
.scrib-anjeer{background:url(../images/elemt_anjeer.png) no-repeat center;height:128px;left:37%;top:388px;width:128px;z-index:1;}
.testimonial-section .scrib-anjeer{left:auto;right:5% !important;top:15%;}
.scrib-leaf2{background:url(../images/elemt_leaf.png) no-repeat center;bottom:20px;height:105px;left:170px;width:105px;z-index:6;}
.scrib-pomegranate-3,.blog-page .scrib-pomegranate-3{background:url("../images/elemt_pomegranate3.png") no-repeat 0 0/100% auto;height:125px;left:40px;top:40px;width:200px;z-index:1;}
.scrib-love{background:url(../images/scrib_7.png) no-repeat center;bottom:65px;height:125px;left:0;width:215px;z-index:1;}
.scrib-olives{background:url(../images/elemt_olives.png) no-repeat center;bottom:-4px;height:168px;right:0;width:186px;z-index:1;}
.scrib-lavender{background:url(../images/elemt_lavender.png) no-repeat center;height:168px;left:435px;top:394px;width:220px;z-index:1;}
.ourfood-page .scrib-lavender{left:auto;right:0;top:34px;width:220px;}
.scrib-mint{background:url(../images/elemt_mint.png) no-repeat center;height:100px;right:0;top:354px;width:132px;z-index:1;}
.scrib1{background:url("../images/scrib1_x2.gif") no-repeat scroll 0 0/402px 221px;height:221px;right:-16%;top:787px;transform:rotate(24deg);-moz-transform:rotate(24deg);-ms-transform:rotate(24deg);-o-transform:rotate(24deg);-webkit-transform:rotate(24deg);width:402px;}
.scrib1-2{left:-11%;opacity:0.5;right:auto;top:2650px !important;transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.scrib2{background:url("../images/scrib2_x2.png") no-repeat scroll 0 0/258px 121px;height:121px;left:18%;top:372px;width:258px;z-index:1;}
.scrib2-2{left:auto;right:4%;top:1337px;opacity:0.5;transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.doscrib1{background:url("../images/do-hand1.png") no-repeat scroll 0 0 transparent;height:151px;position:absolute;right:-40px;;top:160px;width:268px;z-index:0;}
.doscrib2{background:url("../images/do-hand2.png") no-repeat;height:164px;position:absolute;right:0;top:510px;width:600px;z-index:0;}
.doscrib3{bottom:-67px;height:311px;left:0;position:absolute;width:464px;z-index:0;}
.doscrib4{background:url(../images/scrib_6.png) no-repeat scroll;bottom:20px;height:131px;left:19%;width:205px;z-index:0;}
.doscrib5{background:url(../images/scrib_5.png) no-repeat;height:131px;left:0;top:1340px;width:205px;z-index:0;}
.doscrib6{background:url(../images/scrib_9.png) no-repeat;height:198px;left:370px;top:320px;width:230px;z-index:0;}
.doscrib7{background:url(../images/scrib_10.png) no-repeat;height:86px;right:0px;top:290px;width:335px;z-index:0;}
.doscrib8{background:url(../images/scrib_8.png) no-repeat;height:198px;left:30px;top:330px;width:335px;z-index:0;}
.doscrib8{background:url(../images/scrib_11.png) no-repeat;height:65px;left:40%;top:430px;width:220px;z-index:0;}
.doscrib9{background:rgba(0, 0, 0, 0) url("../images/scrib_12.png") no-repeat scroll 0 0;height:102px;left:-90px;top:71px;width:226px;z-index:0;}
.doscrib10{background:rgba(0, 0, 0, 0) url("../images/scrib_14.png") no-repeat scroll 0 0;height:256px;left:-70px;top:610px;width:270px;z-index:0;}
.doscrib11{background:rgba(0, 0, 0, 0) url("../images/scrib_13.png") no-repeat scroll 0 0;height:150px;right:-65px;top:400px;width:365px;z-index:0;}
.doscrib12{background:rgba(0, 0, 0, 0) url("../images/scrib_15.png") no-repeat scroll 0 0;bottom:-270px;height:192px;right:0;width:413px;z-index:0;}
.paint1{background:url("../images/paint1_x2.png") no-repeat scroll 0 0/120px 145px;height:145px;left:-30%;top:68%;width:120px;z-index:0;}
.paint2{background:url("../images/paint2_x2.png") no-repeat center/100% auto;height:110px;opacity:0.7;right:0px;top:588px;width:121px;z-index:1;}
.paint3{background:url("../images/paint3_x2.png") no-repeat scroll 0 0/100% auto;bottom:310px;height:281px;width:150px;z-index:0;}
.paint4{background:url(../images/paint_4.png) no-repeat;bottom:30px;height:141px;right:10px;width:141px;z-index:0;}
.wwa-block-3 .red{bottom:auto;left:auto;right:430px;top:43px;z-index:10;}
.white-paper{background: url("../images/pwhitepaper.png") no-repeat 0 0/100% auto;  height: 409px;left: 75px;bottom: -610px;width: 350px;z-index: 10;}
.ourfood-page .doscrib4{bottom:auto;height:131px;left:0;top:451px;transform:rotate(-17deg);-moz-transform:rotate(-17deg);-ms-transform:rotate(-17deg);-o-transform:rotate(-17deg);-webkit-transform:rotate(-17deg);}
.ourfood-page .scrib-olives{bottom:462px;right:45%;transform:rotate(32deg);-moz-transform:rotate(32deg);-ms-transform:rotate(32deg);-o-transform:rotate(32deg);-webkit-transform:rotate(32deg);}
.ourfood-page .scrib-rose3{right:0;top:392px;z-index:0;}
.ourfood-page .scrib-pistasho{bottom:230px;left:20px;right:auto;}
.ourfood-page .scrib-pomegranate-wd{bottom:60px;left:auto;right:20px;}
.ourfood-page .doscrib4-2{bottom:auto;left:60px;top:160px;transform:rotate(-17deg);-moz-transform:rotate(-17deg);-ms-transform:rotate(-17deg);-o-transform:rotate(-17deg);-webkit-transform:rotate(-17deg);}
.blogdetail-page .scrib-parsley1{bottom:-21px;left:-30px;top:auto;z-index:11;}
.blogdetail-page .scrib-rose3, .blog-page .scrib-rose3{right:-15%;top:-10px;z-index:0;}
.blogdetail-page .vdsec-divider{bottom:-90px;}
.blogdetail-page .scrib-pomegranate-wa{bottom:-350px;right:20px;z-index:-1;}
.blog-page .doscrib10{left:-180px;top:700px;transform:rotate(32deg);-moz-transform:rotate(32deg);-ms-transform:rotate(32deg);-o-transform:rotate(32deg);-webkit-transform:rotate(32deg);}
.blog-page .red{background:url("../images/red-chilli.png") no-repeat scroll 50% 0/100% auto;bottom:auto;height:150px;left:42%;top:660px;width:130px;}
.blog-page .scrib-pistasho{background:url("../images/elemt_pistasho.png") no-repeat scroll center center/95% auto;bottom:auto;height:75px;right:55%;top:0px;width:100px;}
.blog-page .doscrib4{bottom:auto;left:51%;top:-40px;transform:rotate(-19deg);-moz-transform:rotate(-19deg);-ms-transform:rotate(-19deg);-o-transform:rotate(-19deg);-webkit-transform:rotate(-19deg);}
.blog-page .doscrib11{right:-155px;top:430px;}
.carousel-fade{margin:0;}
.carousel-fade .carousel-inner .item{height:790px;opacity:1;overflow:hidden;}
.carousel-fade .carousel-inner .item img{width:100%;height:auto;}
.carousel.carousel-fade .item{-webkit-transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-ms-transition:opacity 1s ease-in-out;-o-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out;}
.carousel-fade .carousel-inner .active{opacity:1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{opacity:1;}
.carousel-fade .carousel-inner .carousel,
.carousel-fade .carousel-inner .carousel-inner,
.carousel-fade .carousel-inner .carousel-inner .item{height:100%;}
.carousel-caption{position:absolute;top:110px;}
.overlay{background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;height:100%;left:0;position:absolute;top:0;width:100%;display:none;z-index:300;}
.subscription-popup{background:url("../images/bg_subscirption-popup.png") no-repeat 0 0/100% 100%;height:465px;left:-365px;margin-left:50%;padding:55px 75px;position:absolute;top:160px;width:735px;z-index:2000;}
.subscription-popup2{background:url("../images/bg_subscirption-popup.png") no-repeat 0 0/100% 100%;height:465px;left:-365px;margin-left:50%;padding:55px 75px;position:absolute;bottom:100px;width:735px;z-index:2000;}
.subscription-popup p.h3, .subscription-popup2 p.h3{line-height:1.5;margin:50px 0;}
.scrib-parsley2{background:rgba(0, 0, 0, 0) url("../images/elemt_parsley2.png") no-repeat scroll 0 0;height:121px;left:8%;top:34px;width:197px;z-index:6;}
.ccm-pagination-wrapper{text-align:center;}
.ccm-pagination-wrapper .pagination{border-raduis:0px !important;}
.sub-inviting-msg {
	position:relative;
  bottom:3em;
  left:1em;}
@media (min-width:768px){
#ourfood-carousel .dropdown-menu{margin-left:-240px;}
.about-section{padding-top: 10px;}
.home-banner{padding:5px 0 0;}
.home-banner h2{font-size:26px;}
.nav .dropdown-menu{left:-170px;}
.navbar-inverse .navbar-nav > li > a{font-size:14px;}
.nav > li > a{padding:0 7px;}
#carousel-testimonial .carousel-inner blockquote{margin:0;}
.testim-img{float:none;height:250px;margin:0 auto;}
.letstalk-section .wboard-cantainer{background:none;height:auto;padding:30px 0;width:100%;}
.red{left:auto;right:30px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{top:95px;}
.ourClients-section{padding-top:120px;}
#ourfood-carousel .food-container{width:720px;}
.blog-page-top form .btn-search{right:20px;}
.blog-row .post-3{margin-top:60px;width:360px;}
.blog-row .post-7{margin-top:-341px;}
#ourfood-carousel .carousel-inner > .item{height:480px;}
.scrib1{right:-300px;top:1237px;}
.scrib-rose1{left:60%;}
.scrib-parsley1{left:25%;}
.yellow-sticky{left:56%;top:278px;}
.wwa-block-3 .red{bottom:auto;left:auto;right:180px;top:43px;}
.scrib-anjeer{bottom:-45px;left:80%;}
.scrib-leaf2{bottom:350px;left:100px;}
.ourfood-page .scrib-lavender{left:auto;right:-100px;top:-55px;width:220px;}
form.miniSurveyView .close-form{display:inline-block;float:none;margin:5px 0 0 0;}
form.miniSurveyView textarea{height:150px;}
.carousel-fade .carousel-inner .item{height:auto;}
.navbar-bottom{background:url("../images/navbarbottom_bg.png") repeat scroll left top/100% 100% transparent;}
.carousel-fade{margin:55px 0 0;}
.blog-page .scrib-pistasho{right:5%;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{top:46%;}
#carousel-testimonial .carousel-control .glyphicon-chevron-left, #carousel-testimonial .carousel-control .glyphicon-chevron-right,
#carousel-testimonial .carousel-control .icon-prev, #carousel-testimonial .carousel-control .icon-next{top:20%;}
#ourfood-carousel{margin:55px 0 0;}
.scrib-pomegranate-3{display:none;}
.blog-page.subscription-pg .scrib-pomegranate-3{display:none;}
.navbar-inverse .nav-logo{clear:both;text-align:center;}
.navbar-brand{display:inline-block;float:none;}
.navbar-bottom{min-height:55px;}
.whatwedo-page .polaroid1{bottom:-20px;left:145px;position:absolute;z-index:3;}
.whatwedo-page .events .text,
.subscription-pg .events .text{left:-211px;margin-left:50%;}
.whatwedo-page .scrib-pomegranate-wd{left:auto;right:50px;}
.whatwedo-page .img-responsive, .whatwedo-page .cuisines .text{margin:0 auto;}
.whatwedo-page .polaroid2{left:60px;}
.whatwedo-page .doscrib6{left:-60px;}
.scrib-lavender{left:70%;}
.nav-logo img{width:240px;}
.navbar{min-height:55px;}
#carousel-instagramfeed .carousel-control.left {left: -30px;}
#carousel-instagramfeed .carousel-control.right {right: -32px;}
#carousel-instagramfeed .carousel-control .glyphicon-chevron-left, #carousel-instagramfeed .carousel-control .glyphicon-chevron-right,#carousel-instagramfeed .carousel-control .icon-prev, #carousel-instagramfeed.carousel-control .icon-next{height:55px;width:25px;}
}
@media (min-width:992px){
.scrib-split-pomegrante{
	display: block;
	background:url("../images/scrib_split_pomegranate.png") no-repeat 0 0/100% auto;
	height: 130px;
  left: 32%;
  bottom: -47px;
  width: 185px;
  z-index: 1;}
.sub-inviting-msg {
  bottom:5em;
  left:2em;}
.blog-page .blog-page-top h1{font-size : 42px;}
#ourfood-carousel .dropdown-menu{margin-left:-48px;}
.about-section{padding-top: 10px;}
.category-listing .testim-img-only{left : -79px !important;}
.home-banner{padding:20px 0 0;}
.home-banner h2{font-size:28px;}
.email-font{font-size:16px;}
form .text-field-subsc{width:100%;}
.nav-logo img{width:auto;}
.navbar-inverse .nav-logo{clear:none;text-align:left;}
.navbar-brand{display:block;float:left;}
.navbar-inverse .navbar-nav > li > a{font-size:13px;}
.nav > li > a{padding:0 4px;}
.nav-col{padding:7px 0 0;}
.about-section .text-h4{margin:50px 140px;}
.videos-section .text-h4{margin:50px 200px;}
#carousel-testimonial .carousel-inner blockquote{margin:0 0 0 -50px;}
.letstalk-section .wboard-cantainer{background:url("../images/chopboard.png") no-repeat scroll center center/cover rgba(0, 0, 0, 0);height:620px;margin:0 auto;padding:80px 220px 0px 270px;text-align:left;width:900px;}
.red{background:url(../images/red-chilli.png) no-repeat scroll 50% 0;bottom:-80px;height:214px;left:0;position:absolute;width:191px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{top:50%;}
.ourClients-section{padding-top:100px;}
#ourfood-carousel .food-container{height:75px;width:940px;}
.blog-row .post-3{margin-top:0px;}
.blog-row .post-7{margin-top:0px;}
.blog-row .post-6{height:274px;margin-left:-10px;padding:50px 25px 0;}
.blog-row .post-7{height:425px;}
form .text-search{width:220px;}
.blog-page-top form .btn-search{right:-26px;}
.search-page .blog-page-top form .btn-search{right:12px;}
#ourfood-carousel .carousel-inner > .item{height:628px;}
.ourfood-page .food img{left:-107px;}
.scrib1{right:-300px;top:867px;}
.scrib2-2{left:auto;right:-60px;top:1357px;}
.scrib-rose1{left:41%;}
.scrib-parsley1{left:11%;}
.yellow-sticky{left:26%;top:308px;}
.wwa-block-3 .red{bottom:auto;left:auto;right:330px;top:33px;}
.scrib-anjeer{bottom:25px;left:38%;}
.scrib-leaf2{bottom:40px;left:50px;}
.ourfood-page .scrib-lavender{left:auto;right:-20px;top:-34px;width:220px;}
.ourfood-page .food img.food-plate{left:-150px;width:355px;}
.blog-page .scrib-pistasho{right:45%;}
form.miniSurveyView .close-form{display:inline-block;float:right;margin:5px 25px 0 0;}
form.miniSurveyView textarea{height:90px;}
.navbar-inverse{background:url("../images/navbar2_bg.png") repeat scroll left top/100% 100% transparent;height:auto;}
.navbar-brand{height:50px;}
.carousel-fade{margin:70px 0 0;}
#carousel-instagramfeed .carousel-control.left{left:-40px;}
#carousel-instagramfeed .carousel-control.right{left:auto;right:-40px;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{top:46%;}
#carousel-testimonial .carousel-control .glyphicon-chevron-left, #carousel-testimonial .carousel-control .glyphicon-chevron-right,
#carousel-testimonial .carousel-control .icon-prev, #carousel-testimonial .carousel-control .icon-next{top:33%;}
#ourfood-carousel{margin:70px 0 0;}
.scrib-pomegranate-3,.white-paper{display:none;}
.whatwedo-page .scrib-parsley3{height:212px;left:77%;top:290px;width:150px;}
.whatwedo-page .polaroid1{bottom:15px;left:10px;position:absolute;z-index:3;}
.whatwedo-page .events .text,
.subscription-pg .events .text{left:-40%;margin-left:50%;bottom:-20px;}
.whatwedo-page .scrib-pomegranate-wd{left:160px;right:auto;}
.whatwedo-page .wwd-block-1 .img-responsive, .whatwedo-page .wwd-block-2 .img-responsive{margin:0;}
.whatwedo-page .polaroid2{left:-60px;}
.whatwedo-page .doscrib6{left:370px;}
.scrib-lavender{left:50%;}
.instafeed-item .instafeed-img-frame{width:94%;}
#carousel-instagramfeed .carousel-control .glyphicon-chevron-left, #carousel-instagramfeed .carousel-control .glyphicon-chevron-right,#carousel-instagramfeed .carousel-control .icon-prev, #carousel-instagramfeed.carousel-control .icon-next{height:60px;width:40px;}
}
@media only screen
and (min-width : 768px)
and (max-width : 768px)  { .mobile-hide{display:none;} .about-section{padding-top : 10px;} }


@media (min-width:1200px){
.blog-page .blog-page-top h1{font-size : 46px;}
ul.nav li.dropdown:hover > ul.dropdown-menu{display:block;}
.category-listing .testim-img-only{left : -85px !important;}
.email-font{font-size:18px;}
form .text-field-subsc{width:265px;}
.navbar-inverse .navbar-nav > li > a{font-size:15px;}
.nav > li > a{padding:0 8px;}
.about-section .text-h4{margin:50px 140px;}
.videos-section .text-h4{margin:50px 200px;}
#carousel-testimonial .carousel-inner blockquote{margin:0 0 0 -60px;}
.scrib1{right:-300px;}
.scrib2-2{left:auto;right:4%;top:1337px;}
#ourfood-carousel .food-container{height:50px;width:1140px;}
form .text-search{width:265px;}
.blog-page-top form .btn-search{right:-26px;}
.blog-row .post-3{height:354px;padding:35px 30px;}
.blog-row .post-6{height:260px;margin-left:-20px;padding:54px 30px;}
.blog-row .post-7{height:388px;}
.ourfood-page .food img{left:-130px;}
.wwa-block-3 .red{bottom:auto;left:auto;right:430px;top:43px;}
.scrib-leaf2{bottom:20px;left:170px;}
.ourfood-page .scrib-lavender{left:auto;right:0;top:34px;width:220px;}
.ourfood-page .food img.food-plate{height:220px;left:-215px;margin-left:50%;top:85px;width:430px;}
.carousel-fade .carousel-inner .item{height:auto;}
.blog-page .scrib-pistasho{right:50%;}
#carousel-instagramfeed .carousel-control.left{left:-45px;}
#carousel-instagramfeed .carousel-control.right{left:auto;right:-50px;}.scrib-pomegranate-3{display:block;left:40px;top:40px;}
.blog-page .scrib-pomegranate-3{left:125px;top:1400px;}
.whatwedo-page .scrib-parsley3{height:312px;left:67%;top:200px;width:250px;}
.whatwedo-page .polaroid1{bottom:-10px;left:10px;position:absolute;z-index:3;}
.whatwedo-page .events .text,
.subscription-pg .events .text{left:-40%;margin-left:50%;}
.scrib-lavender{left:70%;}
.instafeed-item .instafeed-img-frame{width:96%;}
.instafeed-item img{left:-46%;}
.white-paper {display:block;}
}
@media (min-width:1350px){.navbar-inverse .navbar-nav > li > a{font-size:16px;}
.nav > li > a{padding:0 11px;}
.about-section .text-h4{margin:50px 140px;}
.videos-section .text-h4{margin:50px 200px;}
#carousel-testimonial .carousel-inner blockquote{margin:0 0 0 -70px;}
.scrib2-2{left:auto;right:4%;top:1337px;}
#ourfood-carousel .food-container{height:50px;width:1270px;}
.blog-page-top form .btn-search{right:0;}
.blogpage-search form .btn-search2{right:23px;}
.whatwedo-page .events .text,
.subscription-pg .events .text{left:-30%;margin-left:50%;}
}
@media only screen and (min-width:320px) and (max-width:767px){
.subscription_form_subpage input[type="text"]{margin:0;}
.ourfooddetail-page .cat-name{margin-right:20px;}
.whatwedo-page .wwd-block-1 h2, .whatwedo-page .wwd-block-2 .cuisines h2, .whatwedo-page .wwd-block-4 .locations h2{font-size : 46px;}
#ourfood-carousel .carousel-control .glyphicon-chevron-left, #ourfood-carousel .carousel-control .glyphicon-chevron-right, #ourfood-carousel .carousel-control .icon-prev, #ourfood-carousel .carousel-control .icon-next{top:28%;height:60px;width:30px;}
#ourfood-carousel .dropdown-menu{margin-left:-130px;}
.ourfooddetail-page .food-container .col-sm-12{padding-left:0px;}
ul.nav li.dropdown:hover > ul.dropdown-menu{opacity:1;}
.about-section{padding-top:10px;}
.home-banner{padding:10px 0 0;}
.blog-row .blog-post{width:320px;}
.ourfood-page .food .h4{font-size:22px;}
.mailto a{font-size:18px !important;}
.mobile-hide, .nav > li.mobile-hide{display:none;}
.navbar-bottom{min-height:55px;}
.navbar-collapse{background:rgba(0, 0, 0, 0) url("../images/bg_blockboard.jpg") no-repeat scroll 50% 50%/cover;bottom:50px;position:absolute;text-align:left !important;}
.navbar-collapse .navbar-nav > li > a{line-height:40px;width:150px;}
.about-section .text-h4, .videos-section .text-h4{margin:30px 0px;}
.videos-section .video-cantainer{background:url("../images/video.png") no-repeat scroll center center/100% 100%;height:430px;margin:0;padding:0;width:100%;}
.videos-section .video-frame{height:210px;left:-10px;overflow:hidden;position:relative;top:105px;width:80%;}
#carousel-testimonial .carousel-inner blockquote{margin:0;}
.testim-img{float:none;height:250px;margin:0 auto;}
.letstalk-section .wboard-cantainer{background:none;height:auto;padding:30px 0;width:100%;}
.red{left:auto;right:30px;}
.mobile-show-nav{display:block;float:right;position:absolute;right:70px;}
.navbar-nav > li.dropdown > a{line-height:40px;}
.navbar-collapse{float:right;text-align:right;width:215px;}
.navbar-bottom{background:url("../images/navbarbottom_bg.png") repeat scroll left top/100% 100% transparent;}
.navbar-brand{float:none;display:inline-block;height: 40px;}
.navbar-inverse .nav-logo{clear:both;text-align:center;}
.navbar-inverse .nav-col{padding:0 25px;}
.home-banner h1{font-size:30px;}
.home-banner h2{font-size:22px;}
.navbar-nav > li.dropdown > a{text-align:right;}
.nav .dropdown-menu, .navbar-nav .open .dropdown-menu{left:auto;margin:0 auto;position:absolute;right:-20px;width:310px;}
.navbar-nav .open .dropdown-menu{width:310px;}
.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu .dropdown-header ,
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding:5px 0;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{color:#333;}
#carousel-testimonial .carousel-control .glyphicon-chevron-left, #carousel-testimonial .carousel-control .glyphicon-chevron-right,
#carousel-testimonial .carousel-control .icon-prev, #carousel-testimonial .carousel-control .icon-next{top:95px;}
#carousel-blogposts .carousel-control .glyphicon-chevron-left, #carousel-blogposts .carousel-control .glyphicon-chevron-right,
#carousel-blogposts .carousel-control .icon-prev, #carousel-blogposts .carousel-control .icon-next{top:180px;}
.ourClients-section, .blog-page, .whoweare-page, .whatwedo-page, .ourfood-page{padding-top:110px;}
#ourfood-carousel .food-container{height:92px;width:100%;}
.blog-video-contianer{height:210px;position:relative;margin:0 auto;width:100%;z-index:1;}
.blog-video-contianer .blog-video-frame{display:none;}
.blog-video-contianer iframe{border:2px solid #fff;height:100%;left:0;top:20px;width:100%;z-index:3;}
.blog-page-top form .btn-search{left:342px;}
.blog-page-top .text-search.text-search2 { width : 370px;}
#ourfood-carousel .carousel-inner > .item{height:290px;}
form.miniSurveyView .close-form{display:inline-block;float:none;}
form.miniSurveyView textarea{height:150px;}
#ourfood-carousel{margin:55px 0 0;}
.carousel-fade{margin:55px 0 0;min-height:190px;}
.carousel-fade .carousel-inner .item{height:auto;}
.subscription-popup{left:auto;height:auto;margin:20px;padding:30px 35px 55px;width:90%;}
.subscription-popup2{left:auto;height:auto;margin:20px;padding:30px 35px 55px;width:90%;}
.subscription-popup p.h3 ,.subscription-popup2 p.h3{line-height:1.3;margin:50px 0 20px;}
#carousel-instagramfeed .carousel-control.left{left:-25px;}
#carousel-instagramfeed .carousel-control.right{left:auto;right:-28px;}
#carousel-instagramfeed .carousel-control .glyphicon-chevron-left, #carousel-instagramfeed .carousel-control .glyphicon-chevron-right, #carousel-instagramfeed .carousel-control .icon-prev, #carousel-instagramfeed .carousel-control .icon-next{top:45%;}
#ourfood-carousel .carousel-inner > .item img{height:100%;width:100%;}
#letsTalkForm{margin-left:0px !important;}
.of-frame{height:365px;width:290px;}
.ourfood-page .food img, .ofood-img{height:255px;left:-110px;top:35px;width:220px;}
.of-frameEmpty{height:260px;position:relative;margin:0 auto 60px;width:100%;z-index:2;}
.ourfood-page .food .of-frameEmpty img.food-plate{height:auto;left:-160px;margin-left:50%;top:0;width:320px;}
.whatwedo-page .events .text, .subscription-pg .events .text, .whatwedo-page .cuisines .text, .whatwedo-page .locations .text

{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;padding:0;transform:rotate(0deg) !important;-moz-transform:rotate(0deg) !important;-ms-transform:rotate(0deg) !important;-o-transform:rotate(0deg) !important;-webkit-transform:rotate(0deg) !important;width:100%;
}
.whatwedo-page .black{color:#fff;}
.whatwedo-page .black ul li:nth-child(5n+1){background:url("../images/li1_x2.png") no-repeat scroll 0 0/23px 23px;}
.whatwedo-page .black ul li:nth-child(5n+2){background:url("../images/li2_x2.png") no-repeat scroll 0 0/23px 23px;}
.whatwedo-page .black ul li:nth-child(5n+3){background:url("../images/li3_x2.png") no-repeat scroll 0 0/23px 23px;}
.whatwedo-page .black ul li:nth-child(5n+4){background:url("../images/li4_x2.png") no-repeat scroll 0 0/23px 23px;}
.whatwedo-page .black ul li:nth-child(5n+5){background:url("../images/li5_x2.png") no-repeat scroll 0 0/23px 23px;}
.whatwedo-page .img-responsive{margin:0 auto; }
.whatwedo-page .locations .text{margin-left:0;}
.whatwedo-page .cuisines .polaroid2{bottom:-40px;left:auto;position:relative;z-index:2;}
.nav-logo img{width:240px;}
.navbar{min-height:50px;}
.navbar-inverse .navbar-toggle{margin-top:10px;}
.navbar-nav .open .dropdown-menu, .navbar-nav{margin:0;}
.navbar-nav > li.dropdown > a{line-height:40px;}
.instafeed-item img{height:100%;left:-50%;width:100%;}
#carousel-instagramfeed .carousel-control .glyphicon-chevron-left, #carousel-instagramfeed .carousel-control .glyphicon-chevron-right,#carousel-instagramfeed .carousel-control .icon-prev, #carousel-instagramfeed.carousel-control .icon-next{width:30px;}
.styles-settings{ margin: 0px 0px;}
.whatwedo-page .locations{margin-bottom:0px;}
.wwd-block-5 .text-block{margin:10px 0 0;}
}
@media only screen and (min-width:320px) and (max-width:420px){
.blog-page-top form .btn-search{left:233px;}
.blog-page-top .text-search.text-search2 { width : 257px;}
.instafeed-item img{left:-45%;}
#carousel-blogposts .carousel-control .glyphicon-chevron-left, #carousel-blogposts .carousel-control .glyphicon-chevron-right,
#carousel-blogposts .carousel-control .icon-prev, #carousel-blogposts .carousel-control .icon-next{top:220px;}
.blog-row .blog-post {width: 100%;}
.email-font{font-size:16px;}
.home-banner{padding:10px 0 0;}
.videos-section .video-frame{height:210px;left:-6px;overflow:hidden;position:relative;top:65px;width:80%;}
.videos-section .video-cantainer{background:url("../images/video.png") no-repeat scroll center center/100% 100%;height:350px;margin:0;padding:0;width:100%;}
.about-section h1, .videos-section h1, .testimonial-section h1 , .letstalk-section h1 , .whoweare-page h1, .whatwedo-page h1,.whatwedo-page .wwd-block-1 h2, .whatwedo-page .wwd-block-2 .cuisines h2, .whatwedo-page .wwd-block-4 .locations h2, .ourfood-page h1, .ourClients-page h1, .blog-page h1,.blogdetail-page h1 { font-size : 32px;}
.blog-page h2, .blogdetail-page h2{font-size:24px;}
.post-social span{margin:0; font-size: 15px;}
p.post-social a{height:42px; width:42px;}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
.footer a:hover{
	background:url(../images/underline.png) repeat-x left bottom;
}

}
.ccm-toolbar-visible .navbar-fixed-top{top:49px;}
.ccm-toolbar-visible #ourfood-carousel .carousel-inner > .item{height:540px;width:100%;}
.custom_z_index{z-index:300;}
.wboard-cantainer h4 > a{text-decoration:none;color:#fff;}
.section_end_button{margin:30px 0 0 0;}
.text_align_left{text-align:left;}
.username{color:black !important;font-weight:bold;}
.food_detial_pg{margin-top:50px;}
span.ccm-conversation-avatar img{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-ms-border-radius:4px;max-width:40px !important;max-height:40px !important;}
.footer p{margin-bottom:0;}
.error_alert{background-color:#E4B5B5;border:1px solid #f00;padding:8px;border-radius:4px;}
.blog_post_hidden{display:none;}
.text_justify{text-align:justify;}
.text_left{text-align:left;}
.text_center{text-align:center;}
.btn:focus,.btn:active{outline:none !important;}
.follow_us{line-height:18px;margin:0;padding-right:13px;}
.sticky-container{background:url(../images/navbar2_bg.png) no-repeat top center;border-radius:5px 5px 0 0;padding:2px 0 1px 10px;width:280px;}
.hidden_text, .hidden_image{display:none;}
.text_center{text-align:center;}
.hidden_text .text-block{margin-bottom:0;}
.success_Message{display:none;margin-top:60px;}
.success_Message h4{font-size:20px;}
.p_more a{background:url(../images/underline.png) repeat-x left bottom;color:#fff;padding-bottom:1px;text-decoration:none;}
.p_more a:hover{background:url(../images/underline_hover.gif) repeat-x left bottom;color:#fff;text-decoration:none;}
.form-control:focus , .form-control{border-color:inherit;-webkit-box-shadow:none;box-shadow:none;}
.nav_margin{margin-right:-41px !important;}
.mailto a{font-size:22px;}
a{color:#fff;text-decoration:none;}
.wwd-block-4 p a,.wwd-block-5 p a{background:url(../images/underline.png) repeat-x left bottom;}
.letschat{font-size:22px;margin:0;}
.letschat a{color:#333 !important;}
#letsTalkForm{margin-left:17px;}
.navbar .navbar-collapse .col-md-9, .navbar .navbar-collapse .col-md-3{padding-left:0px !important;padding-right:0px !important;}
input::-webkit-input-placeholder{color:#fff !important;}
input::-moz-placeholder{color:#fff !important;}
input::-moz-placeholder{color:#fff !important;}
input::-ms-input-placeholder{color:#fff !important;}
.company_number{font-size:14px;}
.home_heading{font-size:42px;}
.homesub_heading{font-size:22px;}
.mar-t5{margin-top:5px;}
.contact-us{padding-left:15px;}
.contact-us-num{margin-right:15px;}
.blog-detail-desc{padding-right:20px;}
#searchResults .row{margin-left:15px;margin-right:15px;}
.search-hdng-col{text-decoration:none;color:#fff;}
.blog-page .col-md-5{padding-left:0px;padding-right:0px;}
.blog-page .testim-img-container{margin-top:10px;}
#searchResults .search-hdng-col h2,.blog-page .testim-item-row{margin-bottom:40px;}
.blogcate_sub{margin-top:20px;}
.bq-inner h3{margin-top:0px;}
#blog_nav_posts{text-align:center;}
::-ms-clear { display: none; }
.unsub-note h2{ margin-top:0px;}
.whatwedo-page .dietry_block {margin-top : 30px;}
.category-listing h3 a {color : #fff; text-decoration:none;}
.blog-page a:active, .blog-page a:focus {color : #fff;}
.pnf-subscription-popup{background:url("../images/bg_subscirption-popup.png") no-repeat 0 0/100% 100%;height:370px;padding:55px 75px;}
.featured-title {
    margin: 55px 0 15px;
}

.clients-logo-r1 {
    margin: 10px 0 20px;
}
.clients-logo-r2 .ml-55 {
    margin-left: 55px;
}
ul.featured-list li{ padding: 0.9em;}
ul.featured-list-2 li{ padding: 0.3em 1.8em;}
@media (max-width:768px) {
    .clients-logo-r1 {
        margin: 10px 0;
    }
    .clients-logo-r2 .ml-55 {
        margin-left: 0;
    }

}

.instagram-feed-home-page{
	margin:0;
	padding : 20px 0 30px 0;
	background:url("../images/bg_blockboard.jpg") no-repeat scroll 50% 50%/cover;}
.instagram-feed-home-page .carousel{margin:0;}
.instaFeed-divider{background: url(../images/elemt_anjeer.png) no-repeat center center;bottom:-102px;}
.letstalk-section{padding-bottom:64px;}
.footer{padding-top:10px;}
.alert{
	padding:12px;
	margin-bottom:10px;
	font-size: 16px;
}
.blog-page .vdsec-divider {-webkit-transform: rotate(-9deg) !important;left: 106px;bottom: -37px;width: 177px;height: 90px;}
.blog-page.subscription-pg .carousel{margin-top:0;}

.blog-page.subscription-pg .scrib-rose3{
	right: 130px;
  top: 315px;
  -moz-transform: rotate(390deg) scaleX(-1);
  -o-transform: rotate(390deg) scaleX(-1);
  -webkit-transform: rotate(390deg) scaleX(-1);
  transform: rotate(390deg) scaleX(-1);
}

/* Our clients page - testimonials with alternative polaroids */
.ourClients-section .testim-item1 .testim-img{
	background:url("../images/testim_f1.png") no-repeat;
}
.ourClients-section .testim-item1 .testim-img-only{
	top:14px;
	transform:rotate(5deg) !important;
	-moz-transform:rotate(5deg) !important;
	-ms-transform:rotate(5deg) !important;
	-o-transform:rotate(5deg) !important;
	-webkit-transform:rotate(5deg) !important;
}
.ourClients-section .testim-item2 .testim-img{
	background:url("../images/testim_f2.png") no-repeat;
}
.ourClients-section .testim-item2 .testim-img-only{
	top:10px;
	transform:rotate(-7deg) !important;
	-moz-transform:rotate(-7deg) !important;
	-ms-transform:rotate(-7deg) !important;
	-o-transform:rotate(-7deg) !important;
	-webkit-transform:rotate(-7deg) !important;
}
.ourClients-section .testim-item3 .testim-img{
	background:url("../images/testim_f3.png") no-repeat;
}
.ourClients-section .testim-item3 .testim-img-only{
	left:20px;
	top:5px;
	transform:rotate(-3deg) !important;
	-moz-transform:rotate(-3deg) !important;
	-ms-transform:rotate(-3deg) !important;
	-o-transform:rotate(-3deg) !important;
	-webkit-transform:rotate(-3deg) !important;
}
.ourClients-section .testim-item4 .testim-img{
	background:url("../images/testim_f4.png") no-repeat;
}
.ourClients-section .testim-item4 .testim-img-only{
	top:11px;
}
.ourClients-section .testim-item5 .testim-img{
	background:url("../images/testim_f5.png") no-repeat;
}
.ourClients-section .testim-item5 .testim-img-only{
	left:-71px !important;
	top:13px;transform:rotate(8deg) !important;
	-moz-transform:rotate(8deg) !important;
	-ms-transform:rotate(8deg) !important;
	-o-transform:rotate(8deg) !important;
	-webkit-transform:rotate(8deg) !important;
}
.ourClients-section .testim-item6 .testim-img{
	background:url("../images/testim_f6.png") no-repeat;
}
.ourClients-section .testim-item6 .testim-img-only{
	top:10px;
	transform:rotate(-6deg) !important;
	-moz-transform:rotate(-6deg) !important;
	-ms-transform:rotate(-6deg) !important;
	-o-transform:rotate(-6deg) !important;
	-webkit-transform:rotate(-6deg) !important;
}
.ourClients-section .testim-item7 .testim-img{
	background:url("../images/testim_f7.png") no-repeat;
	background-position: -2px;
}
.ourClients-section .testim-item7 .testim-img-only{
	top:13px;
	transform:rotate(7deg) !important;
	-moz-transform:rotate(7deg) !important;
	-ms-transform:rotate(7deg) !important;
	-o-transform:rotate(7deg) !important;
	-webkit-transform:rotate(7deg) !important;
}


.ourClients-section .testim-item8 .testim-img{
	background:url("../images/testim_f8.png") no-repeat;
}
.ourClients-section .testim-item8 .testim-img-only{
  top:11px;
	transform:rotate(-3deg) !important;
	-moz-transform:rotate(-35deg) !important;
	-ms-transform:rotate(-3deg) !important;
	-o-transform:rotate(-3deg) !important;
	-webkit-transform:rotate(-3deg) !important;
}
.ourClients-section .testim-item9 .testim-img{
	background:url("../images/testim_f9.png") no-repeat;
}
.ourClients-section .testim-item9 .testim-img-only{
  top:14px;
  left:-86px !important;
	transform:rotate(5deg) !important;
	-moz-transform:rotate(5deg) !important;
	-ms-transform:rotate(5deg) !important;
	-o-transform:rotate(5deg) !important;
	-webkit-transform:rotate(5deg) !important;
}
.ourClients-section .testim-item10 .testim-img{
	background:url("../images/testim_f10.png") no-repeat;
}
.ourClients-section .testim-item10 .testim-img-only,
.ourClients-section .testim-item11 .testim-img-only{
  top:14px;
	transform:rotate(-6deg) !important;
	-moz-transform:rotate(-6deg) !important;
	-ms-transform:rotate(-6deg) !important;
	-o-transform:rotate(-6deg) !important;
	-webkit-transform:rotate(-6deg) !important;
}
.ourClients-section .testim-item11 .testim-img{
	background:url("../images/testim_f11.png") no-repeat;
}


.picture-frame {
	display: inline-block;
    padding: 0;
    height: 320px;
    width: 260px;
    position: relative;
}

.picture-frame-sm {
	display: inline-block;
    padding: 0;
    height: 275px;
    width: 220px;
    position: relative;
}


.picture-frame .frame-bg,
.picture-frame-sm .frame-bg {
    background: url("../images/polaroid_frame.png") no-repeat;
    background-size: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.picture-frame img, .picture-frame-sm img {
    position: relative;
    width: 95%;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.picture-frame-headchef {
	display: inline-block;
    padding: 0;
    height: 345px;
    width: 285px;
    position: relative;
	z-index: 10;
}
.picture-frame-headchef .frame-bg {
    background: url("/application/files/6914/8292/1575/polariod_haeadchef.png") no-repeat;
    background-size: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
}
.picture-frame-headchef .frame-img {
    position: relative;
    width: 95%;
    top: 5px;
    left: 5px;
    z-index: 11;
}

.wwa-block-4 .picture-frame-headchef .ccm-area {
  z-index: 15;
}
.wwa-block-4 .hidden_image img {
    top: 200px;
}
.wwa-block-4 .scrib2 {
	top: 422px;
}
.wwa-block-4 .scrib-anjeer {
    bottom: auto;
    top: 450px;
}
.wwa-block-4 .scrib-parsley2 {
    z-index: 13;
}

.rotate-7deg {
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
	transform: rotate(7deg);
}
.rotate-m7deg {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
.rotate-m15deg {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.rotate-5deg {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.rotate-15deg {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.rotate-m7deg {
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

.rotate-m20deg {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.rotate-m15deg {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.rotate-10deg {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

.rotate-25deg {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.zindex5 {
	z-index: 5;
}

.zindex10 {
	z-index: 1;
}
.zindex11 {
	z-index: 2;
}

.top20 {
	top: 20px;
}
.top30 {
	top: 30px;
}
.top50 {
	top: 50px;
}
.top90 {
    top: 90px;
}
.top120 {
	top: 120px;
}
.top150 {
	top: 150px;
}
.top175 {
	top: 175px;
}
.top200 {
    top: 200px;
}

.left-m30 {
	left: -30px;
}
.left-m45 {
	left: -45px;
}

.left-m60 {
    left: -60px;
}

.left-120 {
    left: -120px;
}

.left-m3 {
	left: -3px;
}
.right-m30 {
	right: -30px;
}
.right-m42 {
	right: -42px;
}
.left-m15 {
	left: -15px;
}
.right-m15 {
	right: -15px;
}
.minheight-410 {
	min-height: 410px;
}
.minheight-490 {
	min-height: 490px;
}
.minheight-530 {    
	min-height: 530px; 
}

.wwa-block-3 .red {
    top: -27px;
}

.scrib-rose2 {
    top: 825px;
}

.pos-one {
    top: -15px;
    z-index: 4;
    left: -60px;
}
.pos-two {
	top: -35px;
        z-index: 3;
}

.whatwedo-page .events .text {
    left: -211px;
}
.whatwedo-page .scrib-parsley3 {
    left: 65%;
}
.whatwedo-page .events .text {
    padding: 80px 55px 50px 30px;
}

#carousel-banner .carousel-inner .item {
	/*
	opacity: .2;
	transition: opacity 2s ease-in-out;	
  	transform: translate3d(0,0,0);
	*/
	
	opacity: .2;
	
	-webkit-transition: -webkit-transform 0ms ease, opacity 3000ms ease;
    -moz-transition: -moz-transform 0ms ease, opacity 3000ms ease;
    -ms-transition: -ms-transform 0ms ease, opacity 3000ms ease;
    -o-transition: -o-transform 0ms ease, opacity 3000ms ease;
    transition: transform 0ms ease, opacity 3000ms ease;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

}
#carousel-banner .carousel-inner .item.active {
  	opacity: 1;
}



/* 27 Feb New Styles */

.top100 {
	top: 100px;
}
.top170 {
	top: 170px;
}

.whatwedo-page .scrib-parsley3.posnew {
    right: -2%;
    left: auto;
}
.scrib-rose2.wsd-rose3 {
    top: 0;
    left: 39%;
}
.paint22 {
    background: url("../images/paint2_x2.png") no-repeat center/100% auto;
    height: 110px;
    opacity: 0.7;
    right: 0px;
    width: 121px;
    z-index: 1;
    bottom: 60px;
}
.paint23 {
    background: url("../images/paint1_x2.png") no-repeat scroll 0 0/130px 140px;
    height: 145px;
    left: 45%;
    top: 420px;
    width: 136px;
    z-index: 0;
}

.pos-1 {
    top: 110px;
    z-index: 3;
    left: -60px;
}
.pos-2 {
    top: 150px;
    z-index: 4;
}

.whatwedo-page .events {
    min-height: 730px;
    position: relative;
}
.whatwedo-page .scrib-pomegranate-wd .scrib-pomegranate-wdd {
    background: url("../images/elemt_pomegranate2.png") no-repeat;
    bottom: 70px;
}
.scrib-parsley2.sp2 {
    left: 15%;
    bottom: 0px;
    top: auto;
}

.whatwedo-page .scrib-pomegranate-wd.sp-wd {
    left: 110px;
    right: auto;
    bottom: 70px;
}

.eventwc-pos-1 {
    top: 150px;
    z-index: 3;
    left: -60px;
}
.eventwc-pos-2 {
    top: 180px;
    z-index: 4;
}



/* 27 Feb New Styles End */


/* 7 Mar New Style */

.whatwedo-page .cuisines .text {
    padding: 72px 45px 0 65px;
}
.whatwedo-page .events .text {
    left: -290px;
}
.whatwedo-page .scrib-parsley3.posnew {
    right: 3%;
    left: auto;
	top: 350px;
}
.whatwedo-page h1.mb-10 {
    margin-bottom: 10px;
}
.whatwedo-page .events {
    min-height: 600px;
    position: relative;
}
.whatwedo-page .styles-settings {
    margin: 380px 0 0;
}
.paint32 {
    background: url("../images/paint2_x2.png") no-repeat center/100% auto;
    height: 150px;
    opacity: 0.7;
    right: 45%;
    top: 84px;
    width: 170px;
    z-index: 1;
}
.whatwedo-page .locations {
    margin-top: 250px;
}
.whatwedo-page .scrib-lavender {
    left: 65%;
    top: 500px;
}

.whatwedo-page .locations .text {
	padding: 60px 75px 60px 60px;
	width: 490px;
}

.doscrib4.botauto {
	bottom: auto;
}
.vdsec-divider.newpos {
	bottom: -180px;
    left: -100px;
}


/* Responsive Tab Styles */

@media(max-width:991px) {

	.top150 {
		top: 70px;
	}

	/* 7 Mar New Style */
	
	
	.whatwedo-page .styles-settings {
    	margin: 80px 0 0;
	}
	.whatwedo-page .locations {
		margin-top: 50px;
	}
	.wwd-block-5 .text-block {
		margin: 0px 0 0;
	}	
	.scrib-rose2.wsd-rose3 {
		left: 55%;
	}
	.scrib-parsley2.sp2 {
		left: 35%;
		bottom: 10px;
	}
	.paint32 {
		right: 20px;
    	top: -95px;
	}
	.whatwedo-page .scrib-lavender {
		top: 365px;
	}
}


/* Responsive Mobile Styles */

@media(max-width:767px) {

	.top120 {
		top: 20px;
	}
	.top150 {
		top: 20px;
	}
	.minheight-410 {
		min-height: 630px;
	}
	.pos-one {
    	top: 50px;
    }
	.pos-two {
    	top: 0;
    }
	.whatwedo-page .events .text {left: auto;}

}


.whoweare-page .picture-block .img-responsive,
.whatwedo-page .picture-block .img-responsive{
	z-index: 1;
}


.doscrib13 {
    background: url(../images/scrib_6.png) no-repeat scroll;
    bottom: -60px;
    height: 131px;
    left: 19%;
    width: 205px;
    z-index: 0;
}


/* SUBSCRIVE PAGE EDITABLE POLAROID */

.picture-frame-subscr {
    display: inline-block;
    padding: 0;
    height: 275px;
    width: 220px;    
    position: relative;
}

.picture-frame-subscr .frame-bg {
    background: url("../images/polaroid_frame.png") no-repeat;
    background-size: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.picture-frame-subscr .frame-img {
    position: relative;
    width: 95%;
    top: 5px;
    left: 5px;
    z-index: 1;
}


.scrib-subscr-leafs {
    display: block;
    background: url("../images/seprator_leafs2.png") no-repeat 0 0/100% auto;
    height: 110px;
    left: 24%;
    bottom: -100px;
    width: 225px;
    z-index: 1;
}

@media (max-width: 1199px) {
	.subscription-pg .events .text {
		left: -40%;
		margin-left: 50%;
		bottom: -20px;
	}
	.picture-frame-subscr {
		height: 195px;
		width: 162px;
	}
	.scrib-subscr-leafs {
	    height: 100px;
		left: 18%;
		bottom: -89px;
		width: 205px;
	}

}

/* Responsive Tab Styles */

@media(max-width:991px) {
	
	.picture-frame-subscr {
		height: 195px;
		width: 162px;
	}
	.scrib-subscr-leafs {
		background: url("../images/seprator_leafs2.png") no-repeat 0 0/100% auto;
	   	height: 100px;
		left: 24%;
		bottom: -102px;
		width: 205px;
	}

}


/* FIX THE EDIT BLOCK OVERLAY BOX TO EDIT THE PICTURE*/

.frame-bg .ccm-area {
   z-index: 999;

}



/* New Home Slider Styles */

#homeMainSlideshow { 
	height: 95vh; 
	margin: 70px 0 0;
	padding: 0; 
	position: relative;
	width: 100%;
}

#homeMainSlideshow > div { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	height: 100%;
	width: 100%;
}
#homeMainSlideshow > .slide-item img {
	height: auto;
	width: 100%;
}

@media(max-width:1199px) {
	#homeMainSlideshow {
		height: 80vh;
		margin: 70px 0 0;
	}
}

@media (max-width:991px) {		
	#homeMainSlideshow {
		height: 42vh;
    	margin: 52px 0 0;
	}
	.whatwedo-page .events .text {
		padding: 50px 40px 40px 30px;
	}
	.whatwedo-page .cuisines .text {
		padding: 40px 30px 0 70px;
	}
	.whatwedo-page .locations .text {
		padding: 60px 95px 60px 70px;
		width: 504px;
		margin: 50px auto 0 auto;
	}
}

@media (max-width:767px) {		
	#homeMainSlideshow {
		height: 34vh;
		margin: 45px 0 0;
	}
	.wwd-block-1 .top170 {
		top: 30px;
	}
	.wwd-block-1 .top100 {
		top: 20px;
	}
	.whatwedo-page .cuisines .text {
		padding: 20px 24px 0 10px;
	}
	.whatwedo-page .events .text {
		padding: 20px 30px 40px 10px;
	}
	.whatwedo-page .locations .text {
		padding: 60px 25px 30px 10px;
		width: auto;
		margin: 0 auto;
	}
}

/* New Home Slider Styles End */


/* 27 Feb New Styles */
	
	.top170.wswy {
		top: 30px;
	}
	.top100.wswy {
		top: 0px;
	}
	

	